* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#242424;
  text-align:center;
  color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 36, 36, .7);
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 7px;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 50px;
  margin-left: 50px;
}

ul.topnav li:hover a:not(.active) {
    background-color: #D3D3D3;
    color: #000;
}

ul.topnav li a.active {
    background-color: #D2691E;
    color: white;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav,
    ul.topnav {position: unset}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

ul.topnav .dropdown-content {
  display: none;
  position: absolute;
}
ul.topnav .dropdown-content a {
  color: black;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
	background-color: #000000;
	padding: 20px;
	text-align: center;
}


.button {
	background-color: #1c87c9;
	border-radius: 8px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}

.button:hover {
	background-color: #026CB3;
	color: white;
	box-shadow: inset 0 0 10px #000000;
}

.button:active {
	box-shadow: inset 0 0 10px #000000;
	transform: translateY(4px);
}


#tsscript {
	margin-left: 15px;
}


img {
	max-width: 100%;
	height: auto;
}

#header {
	margin-top: -70px;
}